.navbar-light {
  background-color: #fff !important;
}

.navbar-brand {
  background: #000;
  color: #fff !important;
  padding: 5px 8px;
  border-radius: 35px;
  font-weight: 500;
}

.bg-img .img-responsive {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.img-circle {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-info {
  margin-left: 25px;
}

.profile-info h2 {
  margin-bottom: 0;
}

.profile-info p {
  margin-bottom: 0;
}

.about-section {
  margin-bottom: 25px;
}

.contact-section {
  margin-bottom: 25px;
}
.contact-section p {
  margin-bottom: 5px;
}
.contact-section a {
  margin-right: 5px;
  font-size: 18px;
  color: #000;
}
.education-section p {
  margin-bottom: 0;
}
.education-section {
  margin-bottom: 25px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-top: -183px;
}
.card-img-1 {
  margin-top: -12px;
}
.card-img-2 {
  margin-top: -91px;
}
.card-img-3 {
  margin-top: 1px;
}
a {
  text-decoration: none;
  margin-left: 30px;
  padding-left: 60px;
  color: #000;
  padding-top: 25px;
}

@media screen and (max-width: 700px) {
  .card {
    width: 185%;
  }
  .profile-info {
    margin-top: 160px;
    margin-left: -123px;
  }
  .img-circle {
    width: 175%;
    height: 150px;
  }
  .mt-5 {
    width: 60%;
    margin-left: 105px;
  }
  .mt-4 {
    width: 60%;
    margin-left: 105px;
  }
  .mt-0 {
    width: 60%;
    padding-top: 86px;
    margin-left: 105px;
  }
}
